SECRET_KEY="secret_key" #сгенерируй свой
FINGERPRINT_SECRET="fingerpring_secret_key" #сгенерируй свой
ALGORITHM="***" #Выбери алгоритм
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres # можно изменить
DB_HOST=localhost
DB_PORT=5432
POSTGRES_DB=auth_ready # любое название базы данных
POSTGRES_DB_TEST=auth_ready_test # любое название тестовой базы данных
ACCESS_TOKEN_EXPIRATION=1 # срок access токена в часах
REFRESH_TOKEN_EXPIRATION=96 # срок refresh токена в часах
REDIS_HOST="localhost"
TELEGRAM_API='101010101001'
EMAIL_ADDR_SMTP='str'
EMAIL_PASS_SMTP='str'